Repository 80486858/repo-0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leonid, @necobaka, @Jerd0, @edikdeisling

fix: update dependencies to support `@wordpress/scripts` (#209)
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .nvmrc
  README.md
  bin/newspack-scripts.js
  config/babel.config.js
  config/commitlint.config.js
  config/eslintrc.js
  config/getWebpackConfig.js
  config/postcss.config.js
  config/prettier.config.js
  config/stylelint.config.js
  config/tsconfig.json
  package-lock.json
  package.json
  scripts/build.js
  scripts/commit.js
  scripts/commitlint.js
  scripts/release.js
  scripts/semantic-release.js
  scripts/test.js
  scripts/typescript-check.js
  scripts/utils/babelJestTransformer.js
  scripts/utils/index.js
  scripts/utils/jestSetup.js
  scripts/utils/modules.js
  scripts/watch.js
  scripts/wp-scripts.js
  src/jobs/lint-js-scss.yml
Owners: @leonid

refactor(release): variable in wporg release script
  release-wporg.sh
Owners: @leonid

Update workflow
  .github/workflows/kurtosis-ci.yml
  .github/workflows/lint.yml
  .github/workflows/push-docker-develop.yml
  .github/workflows/push-docker-tagged.yml
Owners: @leonid

Update workflow
  .github/workflows/rust.yml
  .github/workflows/semgrep.yml
Owners: @leonid

Update workflow
  .github/workflows/auto-merge.yml
  .github/workflows/main.yml
Owners: @leonid

Update workflow
  .github/workflows/auto-merge.yml
  .github/workflows/main.yml
Owners: @leonid

Update workflow
  .github/workflows/assign-reviewers.yml
  .github/workflows/build-images.yml
  .github/workflows/checks.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/release.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/stale.yml
Owners: @leonid

Update workflow
  .github/workflows/auto_release.yml
  .github/workflows/datadog_wrapper_tracer_update.py
  .github/workflows/dotnet_tracer_update_version.yml
  .github/workflows/java_tracer_update_version.yml
  .github/workflows/node_tracer_v4_update_version.yml
  .github/workflows/node_tracer_v5_update_version.yml
  .github/workflows/php_tracer_update_version.yml
  .github/workflows/python_tracer_update_version.yml
  .github/workflows/update_apps.yml
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
Owners: @leonid

Update workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @leonid

Release Production Bundle from a47d6317c2f47668956800f56ecd069b5d17bf97
  index.d.mts
  index.d.ts
  index.js
  index.js.map
  index.mjs
  index.mjs.map
  package.json
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/figma-fetcher-npm-publish.yml
  .github/workflows/figma-fetcher-release.yml
  .github/workflows/icons-npm-publish.yml
  .github/workflows/icons-release.yml
  .github/workflows/pr-label.yml
  .github/workflows/ui-github-publish.yml
  .github/workflows/ui-npm-publish.yml
  .github/workflows/ui-release.yml
  .github/workflows/visual-regression.yml
Owners: @leonid

chore(release): figma-fetcher/0.2.0 [skip ci]
  packages/figma-fetcher/CHANGELOG.md
  packages/figma-fetcher/package.json
Owners: @Jerd0

chore(release): icons/0.4.0 [skip ci]
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Owners: @edikdeisling, @Jerd0

chore(release): v1.24.0 [skip ci]
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Owners: @edikdeisling, @necobaka

Update workflow
  .github/workflows/build.yml
  .github/workflows/npm-release.yml
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .github/workflows/snyk.yml
Owners: @leonid

Update workflow
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Owners: @leonid

Update workflow
  .github/workflows/build-icad-image-from-tag.yml
  .github/workflows/build.yml
  .github/workflows/docker-build-fork.yml
  .github/workflows/docker-build.yml
  .github/workflows/e2e-compatibility.yaml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Owners: @leonid

Update workflow
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/release_info.sh
Owners: @leonid

Update workflow
  .github/workflows/codespell.yml
  .github/workflows/cover.yaml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/pr-gh-workflow-approve.yaml
Owners: @leonid

Update workflow
  .github/workflows/addToAPMProject.yml
  .github/workflows/ci.yml
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
Owners: @leonid

Update workflow
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
Owners: @leonid

Update workflow
  .github/workflows/dependabot-approve-merge.yml
  .github/workflows/fixup.yml
Owners: @leonid

Update workflow
  .github/workflows/continuous-integration.yml
Owners: @leonid

Update workflow
  .github/workflows/Makefile
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
  .github/workflows/lint.yaml
  .github/workflows/lock.yaml
  .github/workflows/publish_binaries.yaml
  .github/workflows/test_binary_builds.yaml
Owners: @leonid

Update workflow
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pr_signed_commits_check.yml
  .github/workflows/pr_title.yml
Owners: @leonid

Update workflow
  .github/workflows/release.yaml
  .github/workflows/vscode.yml
Owners: @leonid

Update workflow
  .github/workflows/coverage.yaml
  .github/workflows/create_jira.yml
  .github/workflows/e2e.yaml
  .github/workflows/java11.yml
  .github/workflows/java17.yml
  .github/workflows/java8.yml
  .github/workflows/publish.yaml
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
Owners: @leonid

Update workflow
  .github/workflows/auth-layer-chart-install.yml
  .github/workflows/charts-lint.yml
  .github/workflows/hedera-the-graph-chart-install.yml
  .github/workflows/proxy-tests.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-production.yml
  .github/workflows/saucerswap-v2.yaml
Owners: @leonid

Update workflow
  .github/workflows/algolia-indexing.yml
  .github/workflows/deploy.yml
  .github/workflows/github-pages.yml
  .github/workflows/test-pull-request.yml
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
  .github/workflows/cratesio-publish.yml
  .github/workflows/release-drafter.yml
Owners: @leonid

Update workflow
  .github/workflows/build-lint-test.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/main.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-main-docs.yml
  .github/workflows/publish-rc-docs.yml
  .github/workflows/publish-release.yml
  .github/workflows/security-code-scanner.yml
Owners: @leonid

Update workflow
  .github/workflows/go.yml
Owners: @leonid

Update workflow
  .github/workflows/automerge.yml
  .github/workflows/ci.yml
Owners: @leonid

Update workflow
  .github/workflows/docker.yaml
  .github/workflows/podman.yml
  .github/workflows/vm.yaml
Owners: @leonid

Update workflow
  .github/workflows/ci.yml
Owners: @leonid

Update workflow
  .github/workflows/atlas.yml
  .github/workflows/check-docs.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cosmovisor-release.yml
  .github/workflows/docker.yml
  .github/workflows/janitor.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/lint.yml
  .github/workflows/proto-docker.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
Owners: @leonid

.github/CODEOWNERS:

* @leonid
/packages/documentation/** @necobaka
/packages/figma-fetcher/** @Jerd0
/packages/icons/** @edikdeisling @Jerd0
/packages/ui/** @edikdeisling @necobaka
/packages/utils/** @edikdeisling
